/* body {
  background-color: #f8f9fa;
}
.card {
  margin-top: 100px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.card-header {
  background-color: #ffc107;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.form-control:focus {
  border-color: #ffc107;
  box-shadow: none;
}
.btn {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #fff;
  font-weight: bold;
}
.btn:hover {
  background-color: #ff9800;
  border-color: #ff9800;
}
.form-check-label {
  color: #999;
} */
